[submodule "custom/plugins/auto-complete"]
	path = custom/plugins/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "custom/plugins/rinari"]
	path = custom/plugins/rinari
	url = http://github.com/eschulte/rinari.git
[submodule "custom/plugins/yasnippet"]
	path = custom/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "custom/plugins/coffee-mode"]
	path = custom/plugins/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "custom/plugins/distel"]
	path = custom/plugins/distel
	url = https://github.com/massemanet/distel.git
