[submodule "custom/plugins/auto-complete"]
	path = custom/plugins/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "custom/plugins/rinari"]
	path = custom/plugins/rinari
	url = http://github.com/eschulte/rinari.git
